/** Media Queries **/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

.centrado {
  text-align: center;
}

.oculto {
  display: none;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

/*para disminuir el menu, la clase .no-menu viene de agregarse 
de javascript*/
.no-menu.pagina .sidebar {
  margin-left: -20rem;
  /*agrgamos la transcicion en siber mas abajo*/
}

/*para que tome toda la altura de la pagina*/
.pagina {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*con el colum queda abajo el main, sin el queda arriba*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*configuracion del header y del flex*/
}

.header .nombre-sitio {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5rem;
  flex: 0 0 5rem;
  background-color: #003f8c;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .header .nombre-sitio {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20rem;
    flex: 0 0 20rem;
  }
}

.header h1 {
  color: #FFFFFF;
  /*para que no este muy alto*/
  margin: 0;
}

.header .escritorio {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header .escritorio {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .header .movil {
    display: none;
  }
}

.barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*queda del lado derecho*/
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*para que la barra tome el resto del contenido*/
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #005b9f;
  padding: 1rem;
}

.barra .menu-izquierdo {
  /*centrada en vertical la flecha*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1 rem;
  /* es para que se oculte*/
}

.barra .menu-izquierdo i {
  color: #FFFFFF;
  font-size: 1.2rem;
}

.barra .menu-izquierdo .fa-arrow-left {
  display: none;
}

.barra .menu-derecho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*son los enlaces en forma de caja*/
}

.barra .menu-derecho .caja {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*dentro de la caja para centrarlos*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.barra .menu-derecho .caja:hover {
  background-color: #004c86;
}

.barra .menu-derecho .caja a {
  color: #FFFFFF;
  text-decoration: none;
  /*diseno del padding*/
}

.barra .menu-derecho .caja a span {
  background-color: #009045;
  border-radius: 50%;
  padding: .5rem;
  /*separacion de lado izquierdo*/
  margin-left: .5rem;
}

.sidebar {
  background-color: #373737;
  /*usamos la misma base .nombre-sitio*/
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20rem;
  flex: 0 0 20rem;
  padding: 1rem;
  color: #FFFFFF;
  /*transicion para el efecto del menu*/
  -webkit-transition: margin-left .3s ease;
  transition: margin-left .3s ease;
  /*dentro del sibebar*/
}

.sidebar .usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*para colocar un aladop izquierdo y el otro alado derecho*/
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*el diseno del parrafo*/
  font-weight: normal;
}

.sidebar .usuario img {
  max-width: 5rem;
}

.sidebar .usuario span {
  font-weight: bold;
  /*para acomodarlo debajo del  parrafo*/
  display: block;
}

.sidebar .buscador {
  margin-top: 1rem;
  /*este solo selecciona el tipo de texto*/
}

.sidebar .buscador input[type="text"] {
  width: 100%;
  /*alto*/
  height: 3rem;
  border: none;
  border-radius: 10px;
  /*para que el spaceholder se comode un poco a la izquierda*/
  padding-left: 1rem;
}

.sidebar .memu-admin {
  /*para darle separacion*/
  margin-top: 2rem;
}

.menu-admin .menu {
  list-style: none;
  padding: 0 0 0 1rem;
}

.menu-admin .menu > li {
  padding: .5rem;
  /*subnivel*/
}

.menu-admin .menu > li:hover ul {
  display: block;
}

.menu-admin .menu > li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: .5rem;
  /*efecto del salto*/
  -webkit-transition: padding-left .3s ease;
  transition: padding-left .3s ease;
  /*le da el fecto de salto*/
}

.menu-admin .menu > li a:hover {
  background-color: #005b9f;
  padding-left: 2rem;
}

.menu-admin .menu > li ul {
  display: none;
  margin-top: 1rem;
  list-style: none;
  background-color: #2f2f2f;
  padding: 1rem;
}

.menu-admin .menu > li ul li {
  margin-bottom: 1rem;
  /*le aplica al ultimo elemnto del margin de cero 0*/
}

.menu-admin .menu > li ul li:last-of-type {
  margin-bottom: 0;
}

/*contiene 2 elementos el siber y el contenido*/
.contenedor-principal {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
