/** Media Queries **/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  background-color: #eeeeee;
}

/*para disminuir el menu, la clase .no-menu viene de agregarse 
de javascript*/
.no-menu.pagina .sidebar {
  margin-left: -20rem;
  /*agrgamos la transcicion en siber mas abajo*/
}

/*para que tome toda la altura de la pagina*/
.pagina {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*con el colum queda abajo el main, sin el queda arriba*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*configuracion del header y del flex*/
}

.header .nombre-sitio {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5rem;
  flex: 0 0 5rem;
  background-color: #003f8c;
  padding-left: 1rem;
}

@media only screen and (min-width: 1024px) {
  .header .nombre-sitio {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20rem;
    flex: 0 0 20rem;
  }
}

.header h1 {
  color: #FFFFFF;
  /*para que no este muy alto 
         margin: 0;*/
}

.header .escritorio {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header .escritorio {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .header .movil {
    display: none;
  }
}

.header .barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*para que la barra tome el resto del contenido*/
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*queda del lado derecho*/
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #005b9f;
}

.menu-izquierdo {
  /*centrada en vertical la flecha*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* es para que se oculte*/
}

.menu-izquierdo .fa-arrow-right {
  display: none;
}

.menu-izquierdo i {
  color: #FFFFFF;
  font-size: 1.2rem;
}

.menu-derecho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*son los enlaces en forma de caja*/
}

.menu-derecho .caja {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*dentro de la caja para centrarlos*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-derecho .caja:hover {
  background-color: #004c86;
}

.menu-derecho a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  /*diseno del padding*/
}

.menu-derecho a span {
  background-color: #009045;
  border-radius: 50%;
  padding: .5rem;
  /*separacion de lado izquierdo*/
  margin-left: .5rem;
}

.sidebar {
  background-color: #373737;
  /*usamos la misma base .nombre-sitio*/
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20rem;
  flex: 0 0 20rem;
  padding: 1rem;
  color: #FFFFFF;
  /*transicion para el efecto del menu*/
  -webkit-transition: margin-left .3s ease;
  transition: margin-left .3s ease;
  /*dentro del sibebar*/
}

.sidebar .usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*para colocar un aladop izquierdo y el otro alado derecho*/
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*el diseno del parrafo*/
  font-weight: normal;
}

.sidebar .usuario img {
  max-width: 5rem;
}

.sidebar .usuario span {
  font-weight: bold;
  /*para acomodarlo debajo del  parrafo*/
  display: block;
}

.sidebar .buscador {
  margin-top: 1rem;
  /*este solo selecciona el tipo de texto*/
}

.sidebar .buscador input[type="text"] {
  width: 100%;
  /*alto*/
  height: 3rem;
  border: none;
  border-radius: 10px;
  /*para que el spaceholder se comode un poco a la izquierda*/
  padding-left: 1rem;
}

.menu-admin {
  margin-top: 1rem;
}

.menu-admin h2 {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}

.menu-admin .menu {
  list-style: none;
  padding: 0 0 0 1rem;
}

.menu-admin .menu > li {
  padding: .5rem;
  /*subnivel*/
}

.menu-admin .menu > li:hover ul {
  display: block;
}

.menu-admin .menu > li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: .5rem;
  /*efecto del salto*/
  -webkit-transition: padding-left .3s ease;
  transition: padding-left .3s ease;
  /*le da el fecto de salto*/
}

.menu-admin .menu > li a:hover {
  background-color: #005b9f;
  padding-left: 2rem;
  cursor: pointer;
}

.menu-admin .menu > li ul {
  display: none;
  margin-top: 1rem;
  list-style: none;
  background-color: #2f2f2f;
  padding: 1rem;
}

.menu-admin .menu > li ul li {
  margin-bottom: 1rem;
  /*le aplica al ultimo elemnto del margin de cero 0*/
}

.menu-admin .menu > li ul li:last-of-type {
  margin-bottom: 0;
}

/*contiene 2 elementos el siber y el contenido*/
.contenedor-principal {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/**/
.contenido {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2rem;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*una vez que llega al limite lo acomoda abajo*/
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.formulario .campo {
  margin-bottom: 1rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*otra informacion lo coloca en la parte superior*/
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  /*cuando ambos est junta en este ejemplo
        campo y expadir se cumple esta condicion*/
  /*& por que esta dentro de un campo*/
}

@media only screen and (min-width: 768px) {
  .formulario .campo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 1rem);
    flex: 0 0 calc(50% - 1rem);
  }
}

.formulario .campo.expandir {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 1rem);
  flex: 0 0 calc(100% - 1rem);
}

.formulario .campo.expandir label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(12.5%);
  flex: 0 0 calc(12.5%);
}

.formulario .campo.expandir textarea {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.formulario .campo label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.formulario .campo input[type="text"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 75%;
  flex: 1 0 75%;
}

.formulario .campo .opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*para generar separacion*/
}

.formulario .campo .opciones label {
  padding-left: 1rem;
}

.formulario .campo.enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.formulario .campo.enviar .boton {
  background-color: #005b9f;
  padding: .5rem 1rem;
  display: block;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: background-color .3s ease;
}

.formulario .campo.enviar .boton:hover {
  cursor: pointer;
  background-color: #003e6c;
}
