body {
    box-sizing: border-box;
    margin:0;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-sitio {
    background-color: #03A9F4;
    padding:0 20px;
  
     /* Flex aqui primera modificacion*/

        /*Manda el Nombre del sitio al lado izquierdo- antes se encontraba en el centro */
        display:flex;
        /* para que se acomode una debajo del otro por default suele estar row */
        flex-direction: column;
        
    



}
@media screen and (min-width:768px) {
    .header-sitio {
       
  /* Flex para que regrese asu lugar alado izquierdo*/
  flex-direction: row;
  /* aqui manda el menu al lado izquierdo, funciona mejor en row es lo mas optimo */
  justify-content: space-between;

    }
}
.header-sitio h1 {
    color:white;
}

nav {
    /* Flex aqui es para que se centre el menu de inicio*/
    align-self: center;
}
nav a {
    color: white; 
    font-family: 'IBM Plex Serif', serif;
    text-decoration: none;
}

.contenedor {
    background-color: white;
    min-height: calc( 100vh - 20px );
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}
h1, h2 {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}
h2 {
    color:white;
}

.contenedor-flex {
    margin-top: 20px;
    /* manda el contenido del conteder-flex a lado izquierdo*/
    display: flex;

    /* para acomodarse uno debajo del otro cuando sea responsive*/
    flex-direction: column;


}
@media screen and (min-width:768px) { 
    .contenedor-flex {
       /* Para que en dispositivos mas grandes quede uno frente del otro*/
      flex-direction: row;
    }
}

.principal {
    /* Forder 2 para dar prioridad de ordenar a nuestro segundo elemento*/
    order: 2;

}
aside {
    /*para dalr separacion debajo del aside*/
    margin-bottom: 5%;
}

aside {
    background-color: #03A9F4;
}
@media screen and (min-width:768px) {
    .principal {
        /*cero para que no cresca, 1 si tenga swing  y una base del 60% */
        flex: 0 1 60%;
        /* margin para darle separacion entre el aside*/
        margin-right: 4%;
        /*para regresar el orden al estado original sin la modificacion del order 2 solo disponible en media screen*/
        order: unset;
    }
    aside {
        /* uno para creca y lo demas parametros para que tome el resto de espacio restante*/
        flex: 1;

    }
}
.servicios {
    /* Flex aqui*/
}
.servicios .servicio {
    /* Flex aqui*/
}
@media screen and (min-width:768px) {
    .servicios .servicio {
        /* Flex aqui*/
    }
}

.servicio {
    padding: 5px;
    background-color: #E53935;
}


.servicio:nth-child(2) {
    background-color: #8E24AA;
}

.servicio:nth-child(3) {
    background-color: #3F51B5;
}

footer {
    height: 100px;
    background-color: #8E24AA;
    margin-top: 20px;
    /* Flex aqui*/
}
footer p {
    color: white;
}