* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin:0;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'IBM Plex Serif', serif;
}

.contenedor {
    background-color: white;
    min-height: calc( 100vh - 20px );
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

nav {
    background-color: #3F51B5;
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul li {
    padding: 20px;
}
nav ul li:hover {
    background-color: #1a2770;
}
nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}
/* Menu Sencillo*/
.sencillo ul{
    /* genera el formato flex*/
    display: flex;

    /*alineacion ala derecha o al final*/
    justify-content: flex-end;
    /*justify-content: space-around parametro para alinea el mismo margen en todo los parametros*/

    /*para colocarlo  en una columna*/
    flex-direction: column;

}

.sencillo ul li{
    text-align: center;
    /* margin  para tener una separacion */
    margin-bottom: .5rem;
}

@media screen and (min-width:768px) {
    .sencillo ul{
        flex-direction: row;
    }
    
    .sencillo ul li{
 /* separacion entre llos para que no este*/
 margin-bottom: 0px;

    }   

}
/* estilo de iconos*/
.iconos ul li a {
    display: flex;
    justify-content:center;
    flex:1;
}
.iconos .icono {
    font-size: 2rem;
    /*se le da separacion para la base*/
    flex: 0 0 3rem;
}

.iconos .texto {
    font-size: 1.4rem;
}
.iconos .texto span {
    font-size: .8rem;
    display: block;
    margin-top: 10px;
}

@media screen and (min-width:480px) {
    .iconos ul {
        display: flex;
        flex-wrap: wrap;
    }
    .iconos ul li {
        display: flex;
        flex: 0 1 calc( 50% - 2rem);
    }

    
}
@media screen and (min-width:768px) {
    .iconos ul li {
        display: flex;
        flex: 1;
    }

    
}

/* Menu de Dropdown*/
.dropdown ul{
 display: flex;
 /*para las columnas*/
 flex-direction: column;
}

@media screen and (min-width:768px){
    .dropdown ul {
 /* es para que su hubiquen las columnas de manera vertical*/
        flex-direction: row;
    }
    .dropdown ul li{
        display: flex;
        justify-content: center;
        /*para colocar el submenu*/
        flex-direction: column;
    }
    /*para poder crear el submenu*/
    @media screen and (min-width:768px){
        .dropdown ul li{
            position: relative;
            display: flex;
            flex: 1 1 100%;
        }
        .dropdown ul li ul{
             /*para mostrar su hijos*/
             display:none;
            /*esto garantiza siempre se localize abajo*/
            position: absolute;
            top:100%;
            /*para fijarlo del lado izquierdo*/
            left: 0;
            background-color: #ff9966;
        }
/*para darle es delizar*/
        .dropdown ul li:hover ul {
            display: flex;
            flex-direction: column ;
            /*para generar 100 porciento de lado del padre*/
            width: 100%;
            
        }

    }
}
/* redes sociales*/
/* quitar el texto*/
.sociales ul li span{
    display: none;
}
.sociales ul {
    /*para alinear por defaul
     y el content para mostralos al final*/
display: flex;
justify-content: flex-end;

}
.sociales ul li  a:before{
    /*la forma de habilitar fontawesome*/
    font-family: "Font Awesome 5 Brands";
}
/*para crear el icono de facebook*/
.sociales ul li a[href*='facebook.com']::before {
    content: "\f39e";
}
/*el mismo codigo para la siguiente redes sociales*/
.sociales ul li a[href*='twitter.com']::before {
    content: "\f099";
}
/* si el dirrecionamiento esta mal no crea el icono*/
.sociales ul li a[href*='youtube.com']::before {
    content: "\f167";
}
.sociales ul li a[href*='instagram.com']::before {
    content: "\f16d";
}
.sociales ul li a[href*='pinterest.com']::before {
    content: "\f0d2";
}
/*Estilos combinados*/
 .navegacion-sociales-dropdown {
     /*un enferente del otro por default*/
     display: flex;
     /*deja un espacio a medias, uno ala izquierda otro 
     ala derecha*/
     justify-content: space-between;
     /*ponemos el mismo color de fondo para que no se mire 
     blanco lo cambiamo azul*/
     background-color: #3F51B5;
 }