/* Variables*/
/*Colores*/
.contenedor {
  max-width: 1100px;
  /*centramos el contenido*/
  margin: 0 auto;
}

.oculto {
  display: none;
}

.header {
  /*es el carrito el header*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*centrado verticalmente*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .logo {
  padding: 1.4rem 0;
}

.carrito-compras {
  /*la forma de unir selectores & sass anidandonos */
  position: relative;
}

.carrito-compras:hover .contenido {
  display: block;
  position: absolute;
  right: 0;
  background-color: #858a8a;
  padding: 1rem;
  max-width: 400px;
}

.carrito-compras:hover .contenido img {
  max-width: 200px;
}

.carrito-compras:hover .contenido .boton {
  background-color: #2a95ec;
  /*tamano del boton*/
  padding: .5rem 1rem;
  margin-top: 1rem;
  /*los enlazes tiene display inline por default*/
  display: block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
