@import 'variables';
@import 'mixins';
html {
    @include box-sizing(border-box);
    height: 100%;
}
*,
*:after,
*:before {
    @include box-sizing(inherit);
}
body {
    font-family: $fuente_principal;
    height: 100%;
    background-color: $gris;
}



/*para disminuir el menu, la clase .no-menu viene de agregarse 
de javascript*/
.no-menu.pagina {
    .sidebar {
        margin-left: -20rem;
        /*agrgamos la transcicion en siber mas abajo*/
       
    }
}


/*para que tome toda la altura de la pagina*/
.pagina {
    min-height: 100%;
    display: flex;
    /*con el colum queda abajo el main, sin el queda arriba*/

    flex-direction: column;

}

.header {
    display: flex;

    .nombre-sitio {
        flex: 0 0 5rem;
        
        @include pc {
            flex: 0 0 20rem;

        }
        background-color: $secundario;
        padding-left: 1rem;
    

    }
    h1{
        color: $blanco;
        /*para que no este muy alto 
         margin: 0;*/
       
    }
    /*configuracion del header y del flex*/
    .escritorio {
        display: none;
        @include pc {
            display: block;
        }

    }
    .movil {
        @include pc {
            display: none;
        }

    }

    .barra {
        display: flex;
        /*para que la barra tome el resto del contenido*/
        flex: 1;
        
        /*queda del lado derecho*/
        justify-content: space-between;
        
        background-color: $primario;
    }
}

   
    .menu-izquierdo {
        /*centrada en vertical la flecha*/
        display: flex;
        align-items: center;

        .fa-arrow-right {
            display: none;
        }
        
        i {
            color: $blanco;
            font-size: 1.2rem;
        }
   /* es para que se oculte*/
    

    }
    .menu-derecho {
        display: flex;
        /*son los enlaces en forma de caja*/
        .caja {
            padding: 0 1rem;
            display: flex;
            /*dentro de la caja para centrarlos*/
            align-items: center;
           
            &:hover {
                background-color: darken($primario, 5);
                
            }
        }
            a {
                
                color: $blanco;
                text-decoration: none;
                justify-content: center;
                position: relative;
                /*diseno del padding*/
                span {
                    background-color: $terciario;
                    border-radius: 50%;
                    padding: .5rem;
                    /*separacion de lado izquierdo*/
                    margin-left: .5rem;
                }
        }
    }

.sidebar {
    background-color: $grisOscuro;
    /*usamos la misma base .nombre-sitio*/
    flex: 0 0 20rem;
    padding: 1rem;
    color: $blanco;
    /*transicion para el efecto del menu*/
    transition: margin-left .3s ease;

    .usuario {
        display: flex;
        align-items: center;
        /*para colocar un aladop izquierdo y el otro alado derecho*/
        justify-content: space-between;

        img {
            max-width: 5rem;
        }
        /*el diseno del parrafo*/
        font-weight: normal;
       

        span {
            font-weight: bold;
             /*para acomodarlo debajo del  parrafo*/
            display: block;
        }
    }
    /*dentro del sibebar*/
.buscador {
    margin-top: 1rem;
    /*este solo selecciona el tipo de texto*/
    input[type="text"]{
        width: 100%;
        /*alto*/
        height: 3rem;
        border: none;
        border-radius: 10px;
        /*para que el spaceholder se comode un poco a la izquierda*/
        padding-left: 1rem;
    }

}



}

.menu-admin {

    margin-top: 1rem;
    h2 {
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;
    }

     .menu {
         list-style: none;
         padding: 0 0 0 1rem;

         > li {
             padding: .5rem;
             &:hover {

             ul{
                 display: block;
             }
         }
         a {
             color: $blanco;
             text-decoration: none;
             padding: .5rem;
             /*efecto del salto*/
             transition: padding-left .3s ease;
              /*le da el fecto de salto*/
         &:hover {
            background-color: $primario;
            padding-left: 2rem;
            cursor: pointer;
        }
         }
        /*subnivel*/
         ul{
             display: none;
             margin-top: 1rem;
             list-style: none;
             background-color: darken($grisOscuro, 3);
             padding: 1rem;
             li {
                 margin-bottom: 1rem;
                 /*le aplica al ultimo elemnto del margin de cero 0*/
                 &:last-of-type {
                     margin-bottom: 0;
                 }
             }
         }

        }

     }
}


/*contiene 2 elementos el siber y el contenido*/
.contenedor-principal {
    flex: 1;
    display: flex;
}

/**/
.contenido {
    flex: 1;
    padding: 2rem;
}
.formulario {
    display: flex;
    /*una vez que llega al limite lo acomoda abajo*/
    flex-wrap: wrap;

    justify-content: space-around;

    .campo {
        margin-bottom:  1rem;
        flex: 0 0 100%;
        display: flex;
        flex-wrap: wrap;
        /*otra informacion lo coloca en la parte superior*/
        align-items: flex-start;
        



        
        @include tablet {
            flex: 0 0 calc(50% - 1rem);

        }
        
        /*cuando ambos est junta en este ejemplo
        campo y expadir se cumple esta condicion*/
        &.expandir {
            flex: 0 0 calc(100% - 1rem);
            
            
            label {
                flex: 0 0 calc(12.5%);
            }
            textarea {
                flex: 1;

            }
        }
        label {
            flex: 0 0 25%;
        }

        input[type="text"]{
            flex: 1 0 75%
        
        }
        .opciones {
            display: flex;
            flex-wrap: wrap;
            flex:  1;
            /*para generar separacion*/
            label {
                padding-left: 1rem;
            }

        }
        /*& por que esta dentro de un campo*/
        &.enviar{
            display: flex;
            justify-content: flex-end;
            .boton {
                @include boton($primario)

            }

        }
    }
}

   