

/*Fuentes*/
$fuente_principal : 'Raleway', sans-serif;

/*Colores*/
$principal : rgb(42, 149, 236);
$secundario: #741d51;
$tercero:  #e44e52;
$gris: rgb(133, 138, 138);

$blanco: #ffffff;
$negro: #0e0b0b;
/*Variables para los tamanos de medias query*/
$telefono: 480px;
$tablet: 768px;
$pc: 1024px;
