body{
    /* border-box nos permite que cuando agregemos padding no afecte el ancho de nuestros elementos*/
    box-sizing: border-box;
    background-color: rgb(213, 218, 223);
}
.contenedor{
    max-width: 1100px;
/*  para centrarlo */
    margin: 0 auto;
}
h2{
    /* para que la etiqueta entrada no cresca*/
    flex: 0 1 100%;
    /* para centrar el texto*/
    text-align: center;
    /* cambio del tamano de la fuente*/
    font-size: 1.8rem;

}
/* fuentes cargados del esterior*/
h3{
/* cargamos las fuentes*/
    font-family: 'libre baskerville', serif;
margin: 0;
font-weight: 700;


}

img{
    /* para generar que las imagenes sean responsive, anteriormente se generaba el scroll
    para mover la imagen manual, con este diseno al disminuis la pantalla la imagen queda fija*/
    max-width: 100%;
}


 /*Contenido para la caja*/
 .contenido{

    background-color: aliceblue;
    /* para el margen inferior*/

    /*centrado*/
    text-align: center;

    margin-bottom: 1rem;

      /* para generar todas en mayusculas abarca todo el contenido*/
      text-transform: uppercase;

}
.contenido span{

    color: rgb(205, 43, 226);
}

.contenido h3{
    
    /* para hacer mas pequena la letra*/
    font-size: .9rem;
    /* para el interlineado interlineado*/
    line-height: 1.4rem;
  
}
.boton{
    /* color azul del background*/
    background-color: rgb(26, 82, 185);
    /*color blanco dentro de las letras*/
    color: aliceblue;
    /* el tamano del paading, modificacion del tamano de los botones*/
    padding: .8rem 3rem;
    /* */
    margin-top: 1rem;
   /*el problema de display por eos se bloquea*/
    display: inline-block;
   /*quita la linea */
    text-decoration: none;

}






















/* se agrega el medio query  para dalr la medida responsive*/

@media screen and (min-width:480px){
  
    .contenido-principal{

        /* se le agrega el flexbot se colocan uno enfrente del otro*/
        display: flex;
        /* flex warp para que se acomode una abajo de la otra el contenido*/
        flex-wrap: wrap;

        /* para darle espacio entre imagenes*/
        justify-content: space-between;
    
    }
    /* para generar 2 entradas  el primero es flex grow, el segundo flex shrink y el tereceroflex basis*/
    .entrada{

        /* -1 rem para darle la medida al espacio */
        flex: 0 1 calc(50% - 1rem);

    }

    /*------------------------------------ segunda medida  768px---------------------------------------------------------------*/
    @media screen and (min-width:768px){
  
        .contenido-principal{
    
            /* se le agrega el flexbot se colocan uno enfrente del otro*/
            display: flex;
            /* flex warp para que se acomode una abajo de la otra el contenido*/
            flex-wrap: wrap;
    
            /* para darle espacio entre imagenes*/
            justify-content: space-between;
        
        }
        /* para generar 2 entradas  el primero es flex grow, el segundo flex shrink y el tereceroflex basis*/
        .entrada{
    
            /* -1 rem para darle la medida al espacio */
            flex: 0 1 calc(33% - 1rem);
    
        }

        .entrada{

            margin-bottom: 1rem;
        }
            






}
